.skills-container{
  margin: 4rem 0;
  position: relative;
}

.skills-content{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap:3rem;
}
.skills{
  flex: 1;
  display: grid;

  grid-gap: 3rem;
  grid-template-columns: repeat(2,1fr);
}
.skills-info{
  flex: 1;
}

@media (max-width:1025px) {
  .skills {
    padding-left: 1rem;
  }
  .skills,.skills-content {
    grid-gap: 2rem;
  }
}

@media (max-width:600px) {
  .skills-container{
    padding: 2rem;
  }
}

@media (max-width:768px) {
  .skills-content {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .skills{
   
    display: grid;
  width: 100%;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);
  }
  .skills-info{
   width: 100%;
  }
  
}
/* animationn */
.animate1{
  animation: appear1 linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
@keyframes appear1 {
  from{
    opacity: 0;
  transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.animate2{
  animation: appear2 linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
@keyframes appear2 {
  from{
    opacity: 0;
  transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}