/* Logo Animation */
.logo {
  transition: 0.5s ease;
}
.logo:hover {
  transform: scale(1.1);
}

/* Custom shadow for name */
.custom-shadow {
  text-shadow: 0 0 25px #00ffee;
}

/* Nav animation */
.nav-animation {
  transition: 0.3s ease-in-out;
}
.nav-animation:hover {
  transform: scaleY(1.2);
  cursor: pointer;
}

/* Mobile Nav Smooth Transition handled via Tailwind */
