body{
  background-color: #1f1e1e;
}
html{
  font-size: 60%;
  overflow-x: hidden;
}
/* navbar start */
.logo{
  transition: 
  0.5s ease;
}
.logo:hover{
  transform: scale(1.1);
}
.custom-shadow {
  /* shadow: 0 0 25px #00ffee; */
  text-shadow: 0 0 25px #00ffee;
}
.nav-animation{
  transition: 
  0.3s ease-in-out;
}
.nav-animation:hover{
  transform: scaleY(1.2);
  cursor: pointer;
}
/* navbar end */
/* header start */
.animatiom {
  transition: 0.6s ease-in-out;
}
.animatiom:hover{
transform: translateY(-15%);
background-color: #00ffee;
box-shadow: 0 0 25px #00ffee;
color:black;
}
.custom-shadow1 {
  /* shadow: 0 0 25px #00ffee; */
  box-shadow: 0 0 25px #00ffee;
}
.text-animation span{
  position: relative;
  
}
.text-animation span::before{
  content: "web";
  color:#00ffee;
  animation: words 20s infinite;

}
.text-animation span::after{
  content: "";
  background-color: #1f1e1e;
  position: absolute;
  width:calc(100% + 10px);

  height: 8vh;
  border-left: 3px solid black;
  right: -8px;
  animation: cursor 0.6s infinite,typing 20s steps(21) infinite;
}
@keyframes cursor {
  to{
    border-left: 2px solid #00ffee;
  }
  
}
@keyframes words {
  0%, 20% {
    content: "Frontend Developer";
  }
  21%, 40% {
    content: "Web Designer";
  }
  41%, 60% {
    content: "Web Developer";
  }
  61%, 80% {
    content: "Software Tester";
  }
  81%, 100% {
    content: "Full Stack Developer";
  }

}
@keyframes typing {
  10%,15%,
  30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% + 8px);
  }
}
/* header end */
/* education start */
.heading{
  font-size: 8rem;
  text-align: center;
  margin: 0;
}
.education{
  padding: 5px 15px;
  background: #1f1e1e;
}
.education h2{
  margin-bottom: 5rem;
}
.timeline-items{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
 content: "";
 position: absolute;
 width:5px;
 height: 100%;
 background-color: #00ffee;
 left:calc(50% - 1px)
}
.timeline-item{
margin-bottom: 40px;
width: 100%;
position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
padding-right: calc(50% + 30px);
text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);

  }
  .timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #00ffee;
    box-shadow: 0 0 25px #00ffee,0 0 25px #00ffee;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
  }
  .timeline-date{
    font-size: 20px;
    font-weight: 800;
    color:white;
    margin: 6px 0 15px;
  }
  .timeline-content{
    background-color: black ;
    border: 3px solid #00ffee;
    padding: 30px 50px;
    box-shadow: 0 0 10px #00ffee;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #00ffee;
  }
  .timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0  10px;
    font-weight: 500;
  }
  .timeline-content p{
    /* color: white; */
    
    font-weight: 300;
    line-height: 22px;
  }
  ::-webkit-scrollbar{
    width: 15px;
  }

  ::-webkit-scrollbar-thumb{
  background-color: #00ffee;
  }
  ::-webkit-scrollbar-track{
   background-color: #1f1e1e;
   width: 50px;
  }
  
  
  